/* Login Page Card */
.login-card {
  background-color: white;
  width: 300px;
  max-width: 90%;
  margin: 20px auto 50px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.login-card input {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.login-card button {
  width: 95%;
  padding: 12px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.login-card button:hover {
  background-color: #155ab6;
  transform: scale(1.02);
}
