* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f9;
}

.topbar {
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

#wallet {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 16px;
  font-size: 17px;
  border-radius: 12px;
  border: 2px solid #ddd;
  margin-bottom: 15px;
}

input:focus, select:focus {
  border-color: #4caf50;
  outline: none;
}

.desc {
  background: #f1f3f5;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  font-size: 15px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.order-btn {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.pay-btns {
  display: flex;
  gap: 15px;
}

.mtn {
  flex: 1;
  background: #ffcc00;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.airtel {
  flex: 1;
  background: #e60000;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .card {
    padding: 22px;
  }
  }
