body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
  padding: 15px;
}

header {
  text-align: center;
  padding: 30px;
}

.btn {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

button {
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
}

.mtn {
  background: #ffcc00;
  color: black;
}

.airtel {
  background: #e11d48;
}
