.order-container {
  max-width: 480px;
  margin: auto;
  padding: 20px;
}

.order-title {
  margin-bottom: 15px;
}

.order-container label {
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

.order-container input,
.order-container select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #eaffea;
  margin-top: 6px;
}

.service-desc {
  background: #f5fff5;
  border-left: 4px solid #7ac943;
  padding: 12px;
  margin-top: 10px;
  font-size: 14px;
}

.place-btn {
  width: 100%;
  margin-top: 20px;
  padding: 16px;
  border-radius: 14px;
  background: #7ac943;
  color: white;
  border: none;
  font-size: 18px;
}
