body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.mtn button {
  background: #ffcc00;
}

.airtel button {
  background: red;
  color: white;
}

input, select {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}
