body{
  margin:0;
  font-family:Arial,Helvetica,sans-serif;
  background:#f4f6f8;
}

/* TOP BAR */
.topbar{
  background:#111;
  color:#00e5ff;
  padding:15px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* WALLET */
.wallet-box{
  background:#fff;
  margin:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.wallet-box input{
  width:100%;
  padding:12px;
  margin-top:10px;
  font-size:16px;
}

/* DEPOSIT BUTTONS */
.deposit-buttons{
  display:flex;
  gap:15px;
  margin-top:15px;
}

.deposit-buttons button{
  flex:1;
  padding:14px;
  font-size:18px;
  border:none;
  border-radius:8px;
  color:#fff;
  cursor:pointer;
}

.mtn{ background:#ffcc00; color:#000; }
.airtel{ background:#e60000; }

/* SECTIONS */
.section{
  background:#fff;
  margin:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.section h3{ margin-bottom:10px; }

.section input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
}

/* TABLES */
.table-wrap{ overflow-x:auto; }

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  padding:12px;
  border-bottom:1px solid #ddd;
  text-align:center;
}

th{ background:#00e5ff; color:#000; }

td button{
  padding:6px 12px;
  background:#00e5ff;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:768px){
  h2{ font-size:18px; }
  th,td{ font-size:14px; }
     }
